extends home

block home_content
    div.panel.panel-primary
        div.panel-heading 排行榜
        div.panel-body
            p Staringo 积分排行前100的用户！
        table.table.table-striped.card
            tr
                th #
                th 用户名
                th.text-center 积分
                th.text-center 主题数
                th.text-center 评论数
            each user,i in users
                tr
                    td #{i+1}
                    td
                        a(href="/user/" + user.username data-user="show" data-id= user._id.toString()) #{user.username}
                        div.user-badge
                            if (user.is_admin)
                                span.label.label-warning 管理员
                            if (user.isAdvanced || user.is_verify)
                                +user_badge(user)
                    td.text-center #{user.score}
                    td.text-center #{user.topic_count}
                    td.text-center #{user.reply_count}